# Aany aws config/credential files present
**/.aws/*
/aws/credentials/

# Any id_rsa/inventory files created
**/*id_rsa
**/.ssh/
**/inventory

# Terraform related extra files
/aws/main/**/plan
**/.terraform/

# Other unrelated files
/aws/Pricing